################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Api/Api/obj
/src/Application/obj
/src/Infrastructure/obj
