################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Domain/bin/Debug/net8.0
/src/Domain/obj
/src/Api/obj
/src/Application/obj
/src/Infrastructure/obj
/src/Web/obj
/src/Api/bin/Debug/net8.0
/src/Application/bin/Debug/net8.0
/src/Infrastructure/bin/Debug/net8.0
/src/Web/bin/Debug/net8.0
/src/Api/bin/Debug/net8.0
/src/Api/obj
/src/Migrations/Infrastructure.MSSql/bin/Debug/net8.0
/src/Migrations/Infrastructure.MSSql/obj
/src/Migrations/Infrastructure.MySql/bin/Debug/net8.0
/src/Migrations/Infrastructure.MySql/obj
/src/Migrations/Infrastructure.Postgres/bin/Debug/net8.0
/src/Migrations/Infrastructure.Postgres/obj
/src/Migrations/Infrastructure.SqlServer/bin/Debug/net8.0
/src/Migrations/Infrastructure.SqlServer/obj
/obj/Docker
/bin/Debug
/obj/Debug
